[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = ">=0.100.0"
uvicorn = ">=0.22.0"
websockets = ">=11.0.0"
python-multipart = ">=0.0.9"

[dev-packages]
pytest = ">=7.4.0"

[requires]
python_version = "3.12"
